body { 
  font-family: $font-primary; 
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px;
}

.home {

  h1 {
    font-family: $font-secondary;
    font-size: 11.12rem;
    font-style: italic;
    letter-spacing: 1px;
    
    span {
      font-family: $font-primary;
      font-size: 6.2rem;
      text-transform: lowercase;
      font-style: normal;
      letter-spacing: 6.7px;
    }
  }
}

h1,
h2,
h3 {
  font-family: $font-primary;
  font-weight: bold;
  line-height: 58px;
}

h1 {
  font-size: 6.2rem;
  letter-spacing: 9px;
}

h2 { 
  font-size: 3.5rem;
  letter-spacing: 3.8px;
}

h3 {
  font-size: 3rem;
  letter-spacing: 3.2px;
}

@media (max-width: 1024px) {
  body { letter-spacing: 1px;}
}

@media (max-width: 480px) {
  body { 
    font-size: 1.5rem;
    letter-spacing: .4px;
  }
}