// FONTS
$font-primary: 'Lato', Arial, sans-serif;
$font-secondary: 'Playfair Display SC', Georgia, serif;

// COLOURS
$color-primary: #0C5F4C;
$color-secondary: #063974;

$color-highlight-1: #50E3C2;
$color-highlight-2: #D2F9F1;

$color-dark: #2C2C2C;
$color-light: #FAFFFE;

// SPACING
$section-padding: 10rem 0;
$section-padding-mobile: 8rem 0;