header {
  padding-top: 2rem;
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    .logo {
      font-family: $font-secondary;
      font-style: italic;
      color: $color-highlight-1;
      font-size: 3.46rem;
      letter-spacing: 1px;
    }

    li {
      display: inline-block;
      &:not(:last-child) { margin-right: 3rem; }
    }

    .link-active { color: $color-highlight-1 }

    a {
      color: $color-light;
      letter-spacing: 1px;
      position: relative;

      // CREATE UNDERLINE FOR HOVER/FOCUS
      &::after {
        content: '';
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 100%;
        background-color: $color-highlight-1;
        opacity: 0;
        transition: opacity .3s ease;
      }

      &:hover,
      &:focus {
        color: $color-highlight-1;

        &::after { opacity: 1;}        
      }
    }
  }
}

// ------------------------------------------------------------ MEDIA QUERIES
@media (max-width: 800px) {
  header {
    // --------------800px HEADER > MOBILE VIEW MENU ICON
    .menu-checkbox,
    .menu-icon { 
      display: block 
    }

    .menu-checkbox {
      // create outline on hamburger when checkbox is focused while visually hidden
      &:focus + .menu-icon,
      &:checked:focus + .menu-icon { outline: 1px solid $color-light; }
    
      // make hamburger / close fixed to the top right
      &:checked + .menu-icon { 
        position: fixed; 
        right: 10%;
        top: 2rem;
      }

      // move nav menu items down 50px to not align with the nav close button
      &:checked ~ ul {
        padding: 25px 0;
        top: 0;
      }
    }
    // --------------800px HEADER > MAIN-NAV
    .main-nav { 

      .logo { 
        font-size: calc(1.6rem + 2vw); 
        
        // prevent logo from "jumping" up when menu button is clicked
        padding-top: 2rem; 
      }

      // --------------800px HEADER > MAIN-NAV > NAV LIST (SLIDE DOWN MENU IN MOBILE VIEW)
      ul {
        // change flex direction to list items vertically and take up the full width
        background-color: $color-secondary;
        position: fixed;
        top: -150%;
        left: -0;
        width: 100%;
        z-index: 50;
        transition: top .3s;
        display: flex;
        flex-direction: column;
      }

      // --------------800px HEADER > MAIN-NAV > NAV ITEMS
      li {
        margin: 2rem;
        text-align: center;

        // create spacing at the top to avoid aligning with menu button
        &:first-of-type { margin-top: 6rem } 
      }

      // --------------800px HEADER > MAIN-NAV > NAV LINKS
      a {
        color: $color-light;
        padding: 1.5rem 20%;
        font-size: 2.2rem;

        &:hover,
        &:focus {
          background-color: $color-light;
          color: $color-secondary;
        }

        &::after { display: none }
      }

    }
  }
}