.btn {
  display: inline-block;
  padding: 15px;

  color: $color-light;
  font-family: $font-secondary;
  font-style: italic;
  text-transform: uppercase;
  
  background-color: $color-secondary;
  border: 5px solid transparent;
  
  transition: border-color .3s;

  &:hover,
  &:active,
  &:focus {
    border-color: $color-highlight-1;
  }
}