.btn {
  display: inline-block;
  background-color: $color-secondary;
  color: $color-light;
  font-family: $font-secondary;
  letter-spacing: 3px;
  padding: 15px;
  border: 5px solid transparent;
  transition: border-color .3s;

  &:hover,
  &:focus {
    border-color: $color-highlight-1;
  }
}