.menu-checkbox { 
  // remove off page until mobile view
  display: none; 

  &:checked + .menu-icon .menu-bars { 
    background-color: transparent; 
    
    // hide middle bar and rotate top and bottom to form an 'X'
    &::before { 
      transform: rotate(45deg); 
      top: 0;
    }
  
    &::after { 
      transform: rotate(135deg);
      top: 0;
    }
  }

  // change color of 'X' when checkbox is checked + focused while visually hidden
  &:checked:focus + .menu-icon .menu-bars { background-color: transparent; }
  &:checked:focus + .menu-icon .menu-bars::before,
  &:checked:focus + .menu-icon .menu-bars::after { 
    background-color: $color-highlight-1;
    top: 0;
  }

}

.menu-icon {
  padding: 1rem;
  display: none;
  position: relative;
  top: .5rem; // align better with logo
  z-index: 100;
}

  .menu-icon:hover,
  .menu-checkbox:focus + .menu-icon { 
    cursor: pointer; 
    
    // change color of menu bars
    .menu-bars,
    .menu-bars::before,
    .menu-bars::after {
      background-color: $color-highlight-1;
    }

    // move top and bottom bar away from the middle bar
    .menu-bars::before { top: 1.4rem; }
    .menu-bars::after { top: -1.4rem; }
  }

/* ------------------- COLLAPSED NAV MENU - BARS */
.menu-bars {
  background-color: $color-light;
  display: inline-block;
  width: 40px;
  height: 3px;
  position: relative;

  // create two bars above and below to create a hamburger icon
  &::before,
  &::after {
    content: "";
    width: inherit;
    height: inherit;
    display: inline-block;
    position: absolute;
    background-color: $color-light;
    transition: top .2s, transform .2s;
  }

  &::before { top: 1rem; }
  &::after { top: -1rem; }

}