.blog {
  // ------------------------------ HEADER
  header {
    background-image: url(../assets/blog-image-1.jpg);
    min-height: 60vh;

    
    h1 {
      // TODO center in relation to the wrapper
      color: $color-light;
      position: absolute;
      // z-index: 10;
      top: 50%;
      // left: 10%;
      transform: translateY(-50%);
      font-size: 6rem;
      letter-spacing: 9px;
    }
  }

  main {
    padding: 10rem 0;
    & > .flex-container {
      display: flex;
      justify-content: space-between;
      // border: 2px solid red;
    }
  }

  .blog-post {
    display: flex;
    flex-direction: column;
    // ratio measured in PSD
    width: calc(300 / 480 * 100%);
    margin-top: -20rem;
    z-index: 20;
  }

  .blog-post-content {
    border: 5px solid $color-highlight-1;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;

    .img-container { margin-bottom: 3rem; }

    h3 { margin-bottom: 1rem }

    .blog-content-date {
      color: $color-secondary;
      font-size: 1.8rem;
    }
    p { margin-bottom: 2rem;}
  }

  .blog-post-comments {
    display: flex;
    flex-direction: column;
  }
  
  .comment-container {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;

    .img-container { width: calc(25% - 2rem) }
    .comment-content {
      width: 75%;
    }
  }

  aside {
    width: calc(110 / 480 * 100%);

    // TODO fix spacing between containers
    & > div,
    &.content > div {
      margin-bottom: 2rem;
    }
    h4 {
      color: $color-primary;
      margin: 2rem 0;
    }

    a {
      color: $color-secondary;
    }

    ul { 
      // TODO style bullet points
      // https://www.w3schools.com/howto/howto_css_bullet_color.asp
      list-style: inside;
    }
  }


}