.blog {
  // ------------------------------ HEADER
  header {
    background-image: url(../assets/blog-image-1.jpg);
    height: 60vh;

    .wrapper-large { flex: 1;}

    .wrapper { 
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    h2 {      
      color: $color-light;
      margin-bottom: 15rem;
    }
  }

  // ------------------------------ MAIN
  main {
    padding: $section-padding;
    & > .flex-container {
      display: flex;
      justify-content: space-between;
    }
  }

  // ------------------ MAIN > BLOG POST
  .blog-post {
    display: flex;
    flex-direction: column;
    // ratio measured in PSD
    width: calc(300 / 480 * 100%);
    margin-top: -20rem;
    z-index: 20;
  }

  // ------------------ MAIN > BLOG POST > CONTENT
  .blog-post-content {
    border: 5px solid $color-highlight-1;
    border-left: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;

    .img-container { 
      margin: -15px 0 3rem;
      
      img { 
        width: calc(100% - 10px);
        box-shadow: 15px 15px $color-highlight-1;
      }
    }

    h3 { 
      color: $color-primary;
      font-size: 3rem;
      letter-spacing: 3px;
    }

    .blog-content-date {
      color: $color-secondary;
      font-size: 1.6rem;
      letter-spacing: .2px;
    }
    p { margin-bottom: 2rem;}
  }

  // ------------------ MAIN > BLOG POST > COMMENTS

  .blog-post-comments {
    display: flex;
    flex-direction: column;

    h4 { 
      font-size: 3rem;
      letter-spacing: 2px; 
    }
  }
  
  .comment-container {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;

    h5 { 
      color: $color-secondary; 
      letter-spacing: 2px;
      font-size: 2rem;
      margin-bottom: 1rem;
      line-height: 1.4;
    }

    .img-container { width: calc(25% - 3.5rem) }
    .comment-content { width: 75%; }
  }

  // ---------------------------------- MAIN > ASIDE
  aside {
    width: calc(110 / 480 * 100%);
    font-size: 1.6rem;
    
    h6 {
      color: $color-secondary;
      font-size: 2.2rem;
    }

    p { line-height: 1.4; }

    .aside-mission a {
        color: $color-primary; 
        font-weight: bold;
    }

    a:hover,
    a:focus {
      color: $color-highlight-1;
    }

    // ------------------ MAIN > ASIDE > RECENT POSTS
    ul { 
      list-style: none;

      li { margin-left: .8rem; }

      li::before {
        // implementation from https://www.w3schools.com/howto/howto_css_bullet_color.asp
        content: "\2022";
        color: $color-highlight-1;
        display: inline-block;
        width: 1em;
      }

      a { color: $color-dark; }
      
    }
  }
}

// ------------------------------------------------------------ MEDIA QUERIES

// ------------------ MIN WIDTH 1200px (larger than the wrapper)
@media (min-width: 1200px) {
  // add left border to the blog post container
  .blog .blog-post-content { border-left: 5px solid #50E3C2;}
}

// ------------------ MAX WIDTH 768px
@media (max-width: 768px) {
  .blog {
    
    // --------------768px MAIN
    main { 
      padding: 0 0 4rem;
    
      & > .flex-container { flex-direction: column;}
    }
    
    // --------------768px MAIN > BLOG-POST
    .blog-post {
      width: 100%;
      margin: -10rem auto 6rem;
    }

    // --------------768px MAIN > BLOG-POST > COMMENTS
    .comment-container {
      .img-container { width: calc(30% - 2rem);}
      .comment-content { width: 70%; }
    }

    // --------------768px MAIN > ASIDE
    aside {
      width: 80%;
      margin: 0 auto;
  
      img {
        max-height: 250px;
        object-fit: cover;
      }
    }

  }
}

// ------------------ MAX WIDTH 480px
@media (max-width: 480px) {
  .blog {

    // --------------480px HEADER
    header h2 { font-size: calc(3.1rem + 3.2vw);}

    // --------------480px MAIN > BLOG-POST > CONTENT
    .blog-post-content h3 { 
      font-size: 2.5rem;
      line-height: 1.2;
    }

    // --------------480px MAIN > BLOG-POST > COMMENTS
    .blog-post-comments h4 { text-align: center;  }

    .comment-container {
      flex-direction: column;
      align-items: center;
  
      .img-container {
        width: 50%;
        margin-bottom: 1.6rem;
      }
  
      .comment-content { width: 100%; }
      
    }
  }
}