.blog {
  // ------------------------------ HEADER
  header {
    background-image: url(../assets/blog-image-1.jpg);
    height: 60vh;

    .wrapper-large { 
      flex: 1;
      position: relative; 
    }

    h1 {      
      color: $color-light;
      font-size: 6rem;
      letter-spacing: 9px;

      position: absolute;
      bottom: 20rem;
      transform: translateY(50%);      
    }
  }

  // ------------------------------ MAIN
  main {
    padding: 10rem 0;
    & > .flex-container {
      display: flex;
      justify-content: space-between;
    }
  }

  // ------------------ MAIN > BLOG POST
  .blog-post {
    display: flex;
    flex-direction: column;
    // ratio measured in PSD
    width: calc(300 / 480 * 100%);
    margin-top: -20rem;
    z-index: 20;
  }

  // ------------------ MAIN > BLOG POST > CONTENT
  .blog-post-content {
    border: 5px solid $color-highlight-1;
    border-left: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;

    .img-container { 
      margin: -15px 0 3rem;
      
      img { 
        width: calc(100% - 10px);
        box-shadow: 15px 15px $color-highlight-1;
      }
    }

    h3 { margin-bottom: 1rem }

    .blog-content-date {
      color: $color-secondary;
      font-size: 1.8rem;
    }
    p { margin-bottom: 2rem;}
  }

  // ------------------ MAIN > BLOG POST > COMMENTS

  .blog-post-comments {
    display: flex;
    flex-direction: column;
  }
  
  .comment-container {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;

    .img-container { width: calc(25% - 2rem) }
    .comment-content { width: 75%; }
  }

  // ---------------------------------- MAIN > ASIDE
  aside {
    width: calc(110 / 480 * 100%);
    font-size: 1.6rem;
    
    h4 {
      color: $color-primary;
      margin: 2rem 0 1rem;
    }

    p { line-height: 1.4; }

    a { color: $color-secondary; }

    // ------------------ MAIN > ASIDE > RECENT POSTS
    ul { 
      list-style: none;

      li { margin-left: 2rem; }

      li::before {
        // implementation from https://www.w3schools.com/howto/howto_css_bullet_color.asp
        content: "\2022";
        color: $color-highlight-1;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }

      a { 
        color: $color-dark; 

        &:hover,
        &:focus {
          color: $color-highlight-1;
        }
      }
      
    }
  }
}

// ------------------------------------------------------------ MEDIA QUERIES

// ------------------ MIN WIDTH 1200px (larger than the wrapper)
@media (min-width: 1200px) {
  .blog .blog-post-content { border-left: 5px solid #50E3C2;}
}

// ------------------ MAX WIDTH 768px
@media (max-width: 768px) {
  .blog {

    main { 
      padding-bottom: 4rem;
    
      & > .flex-container { flex-direction: column;}
    }
    
    // -------------- MAIN > BLOG-POST
    .blog-post {
      width: 100%;
      margin: -20rem auto 6rem;
    }

    // -------------- MAIN > BLOG-POST > COMMENTS
    .blog-post-comments h3 { text-align: center;  }

    .comment-container {
      .img-container { width: calc(30% - 2rem);}
      .comment-content { width: 70%; }
    }

    // -------------- MAIN > ASIDE
    aside {
      width: 80%;
      margin: 0 auto;
  
      h4 { margin-bottom: .6rem;}
  
      img {
        max-height: 250px;
        object-fit: cover;
      }
    }

  }
}

// ------------------ MAX WIDTH 480px
@media (max-width: 480px) {
  .blog {

    // -------------- MAIN > BLOG-POST > COMMENTS
    .comment-container {
      flex-direction: column;
      align-items: center;
  
      .img-container {
        width: 50%;
        margin-bottom: 1.6rem;
      }
  
      .comment-content { 
        width: 100%; 
  
        h4 { margin-bottom: 1rem;}
      }
      
    }
  }
}