.contact {
   // ------------------------------ HEADER
  header {
    background-image: url(../assets/contact-image-1.jpg);
    height: 50vh;
    
    .wrapper {
      flex: 1;
      position: relative;
    }

    
    h1 {
      color: $color-light;
      position: absolute;
      bottom: 12rem;
      transform: translateY(-50%);
      font-size: 6rem;
      letter-spacing: 9px;
    }
  }

  // ------------------------------ MAIN
  main {
    padding: $section-padding;

    .flex-container {
      display: flex;
      justify-content: space-between;
    }
  }

  // ------------------------------ CONTACT FORM
  .contact-form {
    width: 70%;
    background-color: $color-light;
    margin-top: -22rem;
    margin-left: -5rem;
    box-shadow: 15px 15px 0 $color-highlight-1;
    padding: 50px;
    z-index: 10;    
  }

  // ------------------------------ CONTACT ASIDE
  aside {
    width: 25%;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;

    & > *:not(:last-child) { margin-bottom: 2rem;}
    
    .socials {
      display: flex;
      & li:not(:last-of-type) { margin-right: 15px;}
    }

    a { 
      font-weight: bold;
      padding: 1.5rem 1.5rem 1.5rem 0;
    }

    a:focus,
    a:active,
    a:hover {
      color: $color-highlight-1;
    }

    .address {
      font-size: 1.4rem;
      font-style: normal;
      
      li { list-style: none; }
      li:not(:last-of-type) { margin-bottom: 10px;}
    }
  }

}
// ------------------------------ MEDIA QUERIES
@media (max-width: 768px) {
  .contact {

    main { 
      padding: 10rem 0 6rem; 
      .flex-container { flex-direction: column; }
    }

    .contact-form {
      width: 100%;
      margin-left: 0rem;
    }

    aside {
      width: 100%;
      align-items: center;
      margin-top: 6rem;
    }
  
  }
} 

@media (max-width: 480px) {
  .contact {
    
    h1 {
      font-size: 5rem;
      text-align: center;
      top: 40%;
    }

    .contact-form { padding: 25px; }

    aside a { padding: 1rem;}
  }
}