.contact {
   // ------------------------------ HEADER
  header {
    background-image: url(../assets/contact-image-1.jpg);
    min-height: 60vh;
    display: flex;
    flex-direction: column;

    .wrapper {
      flex: 1;
      position: relative;
    }

    
    h1 {
      color: $color-light;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 6rem;
      letter-spacing: 9px;
    }
  }

  main {
    padding: 10rem 0;
    .flex-container {
      display: flex;
      justify-content: space-between;
    }
  }

  .contact-form {
    width: 70%;
    background-color: #fff;
    margin-top: -22rem;
    margin-left: -5rem;
    box-shadow: 15px 15px 0 $color-highlight-1;
    padding: 50px;
    z-index: 10;

      input,
      textarea { font-size: 1.6rem}

    // fieldset > * { border: 1px solid red }
    
  }

  aside {
    width: 25%;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;

    & > *:not(:last-child) { margin-bottom: 2rem;}
    
    .socials {
      display: flex;
      & li:not(:last-of-type) { margin-right: 15px;}
    }

    a { 
      font-weight: bold;
      padding: 1rem 1rem 1rem 0;
    }

    a:focus,
    a:active,
    a:hover {
      color: $color-primary;
    }

    .address {
      font-size: 1.4rem;
      & li:not(:last-of-type) { margin-bottom: 10px;}
    }
  }

}