.home {
// ------------------------------ HEADER
  header {
    background-image: 
    // overlay to help with visibility of nav links
      linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.5)),
      url(../assets/home-image-1.jpg);
    height: 65vh;

    .wrapper-large {
      flex: 1;
      position: relative;
    }

    h1 {
      color: $color-primary;
      position: absolute;
      z-index: 10;
      top: 40%;
      left: 55%;
      transform: translateX(-50%);
      font-size: 5rem;
      letter-spacing: 9px;
  
      span { 
        display: block;
        font-family: 'Playfair Display SC', serif;
        font-size: 10.12rem;
        color: $color-secondary;
        margin-left: -20px;
      }
    }

    .img-container {
      max-width: calc(1200px * .4);
      width: 55vh;
      position: absolute;
      bottom: -12%;
      left: 0;
    }
  }

  // ------------------------------ SPOTLIGHT SECTION
  .spotlight {
    padding: 15rem 0 10rem;
    background-color: #fff;

    .flex-container {
      display: flex;
      justify-content: space-between;
    }

    &-content {
      width: calc(70%);
      h2,
      p {
        margin-bottom: 2rem; 
      }
    }
    
    .img-container {
      width: calc(25%);

      img { box-shadow: -15px 15px 0 $color-highlight-1; }
    }

  }

  // ------------------------------ GALLERY SECTION

  .gallery {
    background-color: $color-highlight-2;
    padding: $section-padding;

    .flex-container {
      display: flex;
      justify-content: space-between;
    }

    .img-container {
      width: calc(100% / 3 - 2%);
    }
  }

  // ------------------------------ FEATURES SECTION
  .features {
    background-color: #fff;
    padding: $section-padding;

    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
      gap: 4rem 2rem;
    }

    .feature-container {
      display: flex;
      justify-content: space-between;
      display: grid;
      grid-template-columns: 5rem 1fr;
      gap: 1rem 2rem;
    }

    .icon-container {
      margin-bottom: 1rem;

      i.fa-stack-2x { color: $color-highlight-1;}
      i.fa-stack-1x { color: #fff; }
    }

    .feature-content {
      h3 {
        color: $color-primary;
        margin-bottom: 1rem;
      }
    }

  }

  // ------------------------------ BLOGS SECTION

  .blogs {
    background-color: $color-highlight-2;

    .grid-container {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 8rem;
    }
    

    .blog-container {
      display: grid;
      grid-template-columns: 1fr 10% 1fr;
      position: relative;
      z-index: 5;

      .blog-post {
        h2,
        p {
          margin-bottom: 2rem;
        }
      }

      // first blog post image / content
      &:nth-of-type(odd) {
        .blog-post { 
          grid-column-start: 3;
          align-self: flex-end;
          margin-left: -10%;
        }

        .img-container {margin-top: -20px; }
        img { box-shadow: 15px 15px 0 $color-highlight-1; }
      }

      // second blog post image / content
      &:nth-of-type(even) {
        .blog-post { 
          align-self: flex-start;
          text-align: right;
          margin-right: -10%;
        }
        .img-container { 
          margin-bottom: -15px; 
          order: 1;
          grid-column-start: 3;
        }
        img { box-shadow: -15px 15px 0 $color-highlight-1; }
      }

    }
  }
  // ------------------------------ CONTEST SECTION
  .contest {
    background-color: #fff;
    padding-bottom: 15rem;

    img {
      // look better on smaller screen widths
      min-height: 200px;
      object-fit: cover;
    }

    .wrapper {
      padding-top: 15rem;
      text-align: center;
    }

    h2,
    p {
      margin-bottom: 2rem;
    }
  }

}
// ------------------------------------------------ MEDIA QUERIES

// ----------------------------MAX-WIDTH 1024px
@media (max-width: 1024px) {
  .home .blogs { padding: $section-padding; }
}

// ----------------------------MAX-WIDTH 800px
@media (max-width: 800px) {
  .home {
    // ------------------800px HOME > HEADER
    header {

      h1 {
        text-align: center;
        font-size: calc(1.5rem + 7vw);
        left: 50%;
        
        span { 
          font-size: calc(2rem + 8vw); 
          margin-left: 0;
        }
      }
      
      // intentionally removing image for design decision
      .img-container { display: none; }
    }
    
    // ------------------800px HOME > MAIN SECTIONS
    .spotlight,
    .gallery,
    .features,
    .blogs { 
      padding: $section-padding-mobile; 
    }
    
    // ------------------800px HOME > MAIN > SPOTLIGHT
    .spotlight {

      .flex-container {
        flex-direction: column-reverse;
        align-items: center;
      }

      .img-container { 
        width: 50%; 
        margin-bottom: 5rem;
      }

      .spotlight-content {
        width: 100%;
        text-align: center;
      }
    }

    // ------------------800px HOME > MAIN > CONTEST
    .contest {
      padding-bottom: 8rem;

      .wrapper { padding-top: 8rem; }
    }    

  }  
}

// ----------------------------MAX-WIDTH 768px
@media (max-width: 768px) {
  .home {
    // ------------------768px HOME > BLOG
    .blogs {

      .grid-container { grid-row-gap: 6rem; }

      .blog-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // Apply to all blog-containers
        &:nth-of-type(1n) {
          .img-container {
            margin: 0 auto calc(4rem + 15px);
            width: calc(70% - 15px); 
          }

          .blog-post { text-align: center;}
        }

        // First blog-post content
        &:nth-of-type(odd) .blog-post { margin-left: 0; }

        // Second blog image / blog-post content
        &:nth-of-type(even) {
          .img-container { order: 0; }
          .blog-post { margin-right: 0;}
        }

      }
    }
  }
}

// ----------------------------MAX-WIDTH 768px
@media (max-width: 480px) {
  .home {
    // ------------------480px HOME > HEADER
    header {
      .main-nav .logo { font-size: 2.46rem }

      h1 { font-size: calc(1.5rem + 4vw); }
      h1 span { font-size: calc(1.5rem + 5vw); }
    }

    // ------------------480px HOME > MAIN > GALLERY
    .gallery {

      .flex-container {
        flex-direction: column;
        align-items: center;
      }

      .img-container { 
        width: 80%;

        &:not(:last-of-type) { margin-bottom: 4rem; }
      }
    }

    // ------------------480px HOME > MAIN > FEATURES
    .features {
      .grid-container {
        grid-template-columns: 1fr;
      }

      .feature-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }

  }
}