.home {
// ------------------------------ HEADER
  header {
    background-image: url(../assets/home-image-1.jpg);

    h1 {
      color: $color-primary;
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 6rem;
      letter-spacing: 9px;
  
      span { 
        display: block;
        font-family: 'Playfair Display SC', serif;
        font-size: 11.12rem;
        color: $color-secondary;
        margin-left: -20px;
      }
    }

    .img-container {
      max-width: calc(1200px * .4);
      width: calc(40%);
      position: absolute;
      bottom: -12%;
      left: 0;
    }
  }

  // ------------------------------ SPOTLIGHT SECTION
  .spotlight {
    padding: 15rem 0 10rem;
    background-color: #fff;

    .flex-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &-content {
      width: calc(70%);
      // margin-right: 1rem;
      h2,
      p {
        margin-bottom: 2rem; 
      }
    }
    
    .img-container {
      width: calc(25%);
      // margin-left: 1rem;

      img {
        box-shadow: -15px 15px 0 $color-highlight-1;
      }
      
    }

  }

  // ------------------------------ GALLERY SECTION

  .gallery {
    background-color: $color-highlight-2;
    padding: 10rem 0;

    .flex-container {
      display: flex;
      justify-content: space-between;
    }

    .img-container {
      width: calc(100% / 3 - 2%);
    }
  }

  // ------------------------------ FEATURES SECTION
  .features {
    background-color: #fff;
    padding: 10rem 0;

    .flex-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: space-between;
    }

    .feature-container {
      display: flex;
      align-items: baseline;
      justify-content: flex-start;
      width: calc(50% - 2rem);
      margin-bottom: 4rem;

      // TODO find a possible better implementation to remove bottom margins on last row
      &:nth-last-of-type(1),
      &:nth-last-of-type(2) {
        margin-bottom: 0;
      }
    }

    .icon-container {
      background-color: $color-highlight-1;
      border-radius: 50%;
      margin-right: 1.5rem;
      
      i {
        color: #fff;
        padding: 10px;
      }
    }

    .feature-content {
      h3 {
        color: $color-primary;
        margin-bottom: 1rem;
      }
    }

  }

  // ------------------------------ BLOGS SECTION

  .blogs {
    background-color: $color-highlight-2;
    padding: 10rem 0;

    .flex-container {
      display: flex;
      flex-direction: column;
    }

    .blog-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      &:nth-of-type(1n) {
        margin-bottom: 6rem;
      }
    }
    // TODO style images to extend to edge of viewport and overlap sections
    .blog-container:nth-of-type(1n) {
      img {
        box-shadow: 15px 15px 0 $color-highlight-1;
      }
    }

    .blog-container:nth-of-type(2n) {
      .img-container {
        order: 1;
      }
      img {
        box-shadow: -15px 15px 0 $color-highlight-1;
      }
    }

    .img-container {
      width: calc(40%);
    }

    .blog-post {
      width: calc(40%);
      h2,
      p {
        margin-bottom: 2rem; 
      }
    }
  }
  // ------------------------------ CONTEST SECTION
  .contest {
    background-color: #fff;
    padding-bottom: 15rem;

    .wrapper {
      padding-top: 15rem;
      text-align: center;
    }

    h2,
    p {
      margin-bottom: 2rem;
    }
  }

  // ------------------------------ FOOTER SECTION
  footer {
    background-color: $color-dark;
    color: $color-light;
    text-align: center;
    padding: 1rem;

    a {
      color: $color-light;
      text-decoration: underline;
      padding: 1rem 1rem 1rem 0;
    }

  }
}
