.home {
// ------------------------------ HEADER
  header {
    background-image: 
    // overlay to help with visibility of nav links
      linear-gradient(rgba(0, 0, 0, 0.3) 10%, rgba(255, 255, 255, 0.5)),
      url(../assets/home-image-1.jpg);
    height: 65vh;

    .wrapper-large {
      flex: 1;
      position: relative;
    }

    // .wrapper becomes 80% of wrapper-large's width after the max-width is reached
    .wrapper-large .wrapper { width: 80vw; }

    .heading-text {
      position: absolute;
      z-index: 10;
      top: 40%;
      left: 55%;
      transform: translateX(-50%);
    }

    h1 {
      color: $color-secondary;
      margin-left: -20px;
    }
    
    h3 { 
      color: $color-primary;
      margin-bottom: 2rem;
    }

    .img-container {
      max-width: calc(1200px * .4);
      width: 55vh;
      position: absolute;
      bottom: -12%;
      left: 0;
    }
  }

  // ------------------------------ SPOTLIGHT SECTION
  .spotlight {
    padding: 15rem 0 10rem;
    background-color: $color-light;

    .flex-container {
      display: flex;
      justify-content: space-between;
    }

    &-content {
      width: calc(70%);

      h4 { color: $color-primary; }

      p { margin-bottom: 2rem; }
    }
    
    .img-container {
      width: calc(25%);

      img { box-shadow: -15px 15px 0 $color-highlight-1; }
    }

  }

  // ------------------------------ GALLERY SECTION

  .gallery {
    background-color: $color-highlight-2;
    padding: $section-padding;

    .flex-container {
      display: flex;
      justify-content: space-between;
    }

    .img-container {
      width: calc(100% / 3 - 2%);
    }
  }

  // ------------------------------ FEATURES SECTION
  .features {
    background-color: $color-light;
    padding: $section-padding;

    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
      gap: 4rem 2rem;
    }

    .feature-container {
      display: flex;
      justify-content: space-between;
      display: grid;
      grid-template-columns: 5rem 1fr;
      gap: 1rem 2rem;
    }

    .icon-container {
      margin: 1rem 0;

      i.fa-stack-2x { color: $color-highlight-1;}
      i.fa-stack-1x { color: $color-light; }
    }

    .feature-content h6 { color: $color-primary; }

  }

  // ------------------------------ BLOGS SECTION

  .blogs {
    background-color: $color-highlight-2;

    .grid-container {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 8rem;
    }
    

    .blog-container {
      display: grid;
      grid-template-columns: 1fr 10% 1fr;
      position: relative;
      z-index: 5;

      .blog-post {
        p { margin-bottom: 2rem; }

        h5 { color: $color-primary; }
      }

      // first blog post image / content
      &:nth-of-type(odd) {
        .blog-post { 
          grid-column-start: 3;
          align-self: flex-end;
          margin-left: -10%;
        }

        .img-container {margin-top: -20px; }
        img { box-shadow: 15px 15px 0 $color-highlight-1; }
      }

      // second blog post image / content
      &:nth-of-type(even) {
        .blog-post { 
          align-self: flex-start;
          text-align: right;
          margin-right: -10%;
        }
        .img-container { 
          margin-bottom: -15px; 
          order: 1;
          grid-column-start: 3;
        }
        img { box-shadow: -15px 15px 0 $color-highlight-1; }
      }

    }
  }
  // ------------------------------ CONTEST SECTION
  .contest {
    background-color: $color-light;

    img {
      // prevent image width from being too small on mobile screens
      min-height: 200px;
      object-fit: cover;
    }

    .wrapper {
      padding: $section-padding;
      text-align: center;
    }

    p { margin-bottom: 2rem; }

    h5 { color: $color-primary; }
  }

}
// ------------------------------------------------ MEDIA QUERIES

// ----------------------------MAX-WIDTH 1024px
@media (max-width: 1024px) {
  .home .blogs { padding: $section-padding; }
}

// ----------------------------MAX-WIDTH 800px
@media (max-width: 800px) {
  .home {
    // ------------------800px HOME > HEADER
    header {

      h1 {
        font-size: calc(2rem + 8vw); 
        margin-left: 0;
      }

      h3 {
        font-size: calc(1.5rem + 7vw);
        left: 50%;
      }
      
      // intentionally removing image for design decision
      .img-container { display: none; }
    }
    
    // ------------------800px HOME > MAIN SECTIONS
    .spotlight,
    .gallery,
    .features,
    .blogs,
    .contest .wrapper { 
      padding: $section-padding-mobile; 
    }
    
    // ------------------800px HOME > MAIN > SPOTLIGHT
    .spotlight {

      .flex-container {
        flex-direction: column-reverse;
        align-items: center;
      }

      .img-container { 
        width: 50%; 
        margin-bottom: 3rem;
      }

      .spotlight-content {
        width: 100%;
        text-align: center;
      }
    }

    // ------------------800px HOME > MAIN > BLOG
    .blogs {

      .grid-container { grid-row-gap: 6rem; }

      .blog-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // Apply to all blog-containers
        &:nth-of-type(1n) {
          .img-container {
            margin: 0 auto calc(1rem + 15px);
            width: calc(70% - 15px); 
          }

          .blog-post { text-align: center;}
        }

        // First blog-post content
        &:nth-of-type(odd) .blog-post { margin-left: 0; }

        // Second blog image / blog-post content
        &:nth-of-type(even) {
          .img-container { order: 0; }
          .blog-post { margin-right: 0;}
        }

      }
    }
  }
}

// ----------------------------MAX-WIDTH 480px
@media (max-width: 480px) {
  .home {

    h4,
    h5 {
      font-size: 3.2rem;
      line-height: 1.4;
      margin-bottom: 1rem;
    }

    // ------------------480px HOME > HEADER
    header {
      .main-nav .logo { font-size: 2.46rem }

      .heading-text {
        width: 80%;
        text-align: center;
        transform: translateX(0);
        left: unset;
      }

      h1 { font-size: calc(3.5rem + 1.5vw); }
      
      h3 { 
        font-size: calc(3.1rem + 1.5vw); 
        margin-bottom: 0;
      }
    }

    // ------------------480px HOME > MAIN > GALLERY
    .gallery {

      .flex-container {
        flex-direction: column;
        align-items: center;
      }

      .img-container { 
        width: 80%;

        &:not(:last-of-type) { margin-bottom: 4rem; }
      }
    }

    // ------------------480px HOME > MAIN > FEATURES
    .features {
      .grid-container { grid-template-columns: 1fr; }
      .icon-container { margin: 0;}

      .feature-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }

  }
}