.home {

  header {
    background-image: url(../assets/home-image-1.jpg)
  }
  h1 {
    color: $color-primary;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    letter-spacing: 9px;
    
    span { 
      display: block;
      font-family: 'Playfair Display SC', serif;
      font-size: 11.12rem;
      color: $color-secondary;
    }
  }
}
