.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}


.wrapper-large {
  // suggested by Joey Chau of cohort 29
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background-color: $color-secondary;
  color: $color-light;
  font-family: 'Playfair Display SC', serif;
  padding: 15px;
  border: 5px solid transparent;
  transition: border-color .3s;

  &:hover,
  &:focus {
    border-color: $color-highlight-1;
  }
}

body {
  font-family: 'Lato', sans-serif;
}

// ------------------------------ FORM
form {
  display: flex;
  flex-direction: column;

  fieldset {
    border: none;
    display: flex;
    justify-content: space-between;
    // TODO move into general partial
    padding: 0;
    margin: 0 0 2rem 0;

    input {
      width: calc(50% - 1rem);
      border-color: transparent transparent $color-highlight-1 transparent;
      padding: 2rem;
      // padding-bottom: 2rem;
    }
  }

  input,
  textarea {
    font-size: 1.6rem;
    letter-spacing: 1px;
  }
  // TODO floating label if time permits
  input:focus,
  input:active {
    border-bottom-color: $color-secondary;
    outline: none;
  }

  textarea:focus,
  textarea:active {
    border-color: $color-secondary;
    outline: none;
  }

  textarea {
    resize: none;
    border: 2px solid $color-highlight-1;
    margin-bottom: 3rem;
    padding: 2rem;
  }
}


// ------------------------------ HEADER SECTION
header {
  height: 90vh;
  padding-top: 2rem;
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;

  .wrapper {
    flex: 1;
    position: relative;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    .logo {
      font-family: 'Playfair Display SC', serif;
      color: $color-highlight-1;
      font-size: 3.46rem;
      letter-spacing: 1px;
    }

    li {
      display: inline-block;
      &:not(:last-child) { margin-right: 3rem; }
    }

    a {
      color: $color-light;
      letter-spacing: 1px;
      position: relative;

      &:hover,
      &:focus {
        color: $color-highlight-1;

        &::after { opacity: 1;}
        
      }

      &::after {
        content: '';
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 100%;
        background-color: $color-highlight-1;
        opacity: 0;
        transition: opacity .3s ease;
      }
    }

    .link-active { color: $color-highlight-1 }
  }

  
}

// ------------------------------ FOOTER SECTION
footer {
  background-color: $color-dark;
  color: $color-light;
  text-align: center;
  padding: 1rem;

  a {
    color: $color-light;
    text-decoration: underline;
    padding: 1rem 1rem 1rem 0;
  }

}


// TODO organize comments

/* -------------------COLLAPSED NAV MENU */

.menu-button { 
  display: none; 

  &:checked + .menu .menu-bar { 
    background-color: transparent; 
  
    &::before { 
      transform: rotate(45deg); 
      top: 0;
    }
  
    &::after { 
      transform: rotate(135deg);
      top: 0;
    }
  }
}

.menu {
  padding: 1rem;
  display: none;
  position: relative;
  z-index: 100;

  &:hover { cursor: pointer; }
}

/* ------------------- COLLAPSED NAV MENU - BARS */
.menu-bar {
  background-color: $color-highlight-1;
  display: inline-block;
  width: 40px;
  height: 3px;
  position: relative;

  &::before,
  &::after {
    content: "";
    width: inherit;
    height: inherit;
    display: inline-block;
    position: absolute;
    background-color: $color-highlight-1;
  }

  &::before { top: 1rem; }
  &::after { top: -1rem; }

}

/* ---------------------- SKIP LINKS */
.skip-links {
  position: relative;

  a {
    position: absolute;
    top: -100%;
    left: -100%;
    transform: translateX(-50%);
    z-index: 100;
    color: $color-light;
    background-color: $color-secondary;
    padding: 2rem;

    &:focus {
      top: 0;
      left: 50%;
    }
  }
  
}


@media (max-width: 480px) {
  form fieldset { flex-direction: column;}
  form fieldset input { width: 100%; }

  footer { font-size: 1.4rem; }
}

@media (max-width: 800px) {

  header {
    /* ------COLLAPSED NAV MENU */
    .menu-button,
    .menu { 
      display: block 
    }

    .menu-button {
      &:focus + .menu { outline: 1px solid $color-secondary }
      &:checked:focus + .menu { outline: 1px solid #201E21 }
    
      &:checked + .menu { 
        position: fixed; 
        right: 10%;
        top: 2rem;
      }

      &:checked ~ ul {
        padding: 50px 0;
        top: 0;
      }
    }

    .main-nav { 
      align-items: flex-end; 
      
      ul {
        background-color: $color-secondary;
        position: fixed;
        top: -100%;
        left: -0;
        width: 100%;
        z-index: 50;
        transition: top .2s ease;
        display: flex;
        flex-direction: column;
      }

      li {
        margin: 4rem 2rem;
        text-align: center;
      }

      a {
        color: #fff;
        padding: 1.5rem 20%;
        font-size: 2.2rem;

        &:hover,
        &:focus {
          background-color: #fff;
          color: $color-secondary;
        }

        &::after { display: none }

      }

    }
  }
}



