.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: 'Lato', sans-serif;
}

header {
  min-height: 100vh;
  padding-top: 2rem;
  background-size: cover;
  background-position: top center;
  position: relative;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    .logo {
      font-family: 'Playfair Display SC', serif;
      color: $color-highlight-2;
      font-size: 3.46rem;
      letter-spacing: 1px;
    }

    li {
      display: inline-block;
      &:not(:last-child) { margin-right: 3rem; }
    }

    a {
      color: $color-light;
      letter-spacing: 1px;
      position: relative;

      &:hover,
      &:focus {
        color: $color-highlight-2;

        &::after { opacity: 1;}
        
      }

      &::after {
        content: '';
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 100%;
        background-color: $color-highlight-2;
        opacity: 0;
        transition: opacity .3s ease;
      }
    }

    .link-active { color: $color-highlight-2 }
  }

  
}