.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background-color: $color-secondary;
  color: $color-light;
  font-family: 'Playfair Display SC', serif;
  padding: 15px;

  // TODO add hover state
}

body {
  font-family: 'Lato', sans-serif;
}

header {
  min-height: 90vh;
  padding-top: 2rem;
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;

  .wrapper {
    flex: 1;
    position: relative;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

    .logo {
      font-family: 'Playfair Display SC', serif;
      color: $color-highlight-1;
      font-size: 3.46rem;
      letter-spacing: 1px;
    }

    li {
      display: inline-block;
      &:not(:last-child) { margin-right: 3rem; }
    }

    a {
      color: $color-light;
      letter-spacing: 1px;
      position: relative;

      &:hover,
      &:focus {
        color: $color-highlight-1;

        &::after { opacity: 1;}
        
      }

      &::after {
        content: '';
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 100%;
        background-color: $color-highlight-1;
        opacity: 0;
        transition: opacity .3s ease;
      }
    }

    .link-active { color: $color-highlight-1 }
  }

  
}

// ------------------------------ FOOTER SECTION
footer {
  background-color: $color-dark;
  color: $color-light;
  text-align: center;
  padding: 1rem;

  a {
    color: $color-light;
    text-decoration: underline;
    padding: 1rem 1rem 1rem 0;
  }

}

form {
  display: flex;
  flex-direction: column;

  fieldset {
    border: none;
    display: flex;
    justify-content: space-between;
    // TODO move into general partial
    padding: 0;
    margin: 0 0 2rem 0;

    input {
      width: calc(50% - 1rem);
      border-color: transparent transparent $color-highlight-1 transparent;
      padding: 2rem;
      // padding-bottom: 2rem;
    }
  }

  input,
  textarea {
    font-size: 1.6rem;
    letter-spacing: 1px;
  }
  // TODO floating label if time permits
  input:focus,
  input:active {
    border-bottom-color: $color-secondary;
    outline: none;
  }

  textarea:focus,
  textarea:active {
    border-color: $color-secondary;
    outline: none;
  }

  textarea {
    resize: none;
    border: 2px solid $color-highlight-1;
    margin-bottom: 3rem;
    padding: 2rem;
  }
}