@import './partials/setup';
@import './partials/variables';
@import './partials/mixins';
@import './partials/typography';
@import './partials/general';

// PAGES
@import './pages/home';
@import './pages/blog';