html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 2rem; }

h1,
h2,
h3,
h4,
h5,
p,
img,
button,
ul,
li {
  margin: 0;
  padding: 0; }

img {
  width: 100%;
  display: block; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

h2 {
  color: #0C5F4C; }

p {
  line-height: 32px; }

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto; }

.btn {
  display: inline-block;
  background-color: #063974;
  color: #FAFFFE;
  font-family: 'Playfair Display SC', serif;
  padding: 15px; }

body {
  font-family: 'Lato', sans-serif; }

header {
  min-height: 90vh;
  padding-top: 2rem;
  background-size: cover;
  background-position: top center;
  position: relative; }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase; }
    header nav .logo {
      font-family: 'Playfair Display SC', serif;
      color: #50E3C2;
      font-size: 3.46rem;
      letter-spacing: 1px; }
    header nav li {
      display: inline-block; }
      header nav li:not(:last-child) {
        margin-right: 3rem; }
    header nav a {
      color: #FAFFFE;
      letter-spacing: 1px;
      position: relative; }
      header nav a:hover, header nav a:focus {
        color: #50E3C2; }
        header nav a:hover::after, header nav a:focus::after {
          opacity: 1; }
      header nav a::after {
        content: '';
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 100%;
        background-color: #50E3C2;
        opacity: 0;
        transition: opacity .3s ease; }
    header nav .link-active {
      color: #50E3C2; }

footer {
  background-color: #2C2C2C;
  color: #FAFFFE;
  text-align: center;
  padding: 1rem; }
  footer a {
    color: #FAFFFE;
    text-decoration: underline;
    padding: 1rem 1rem 1rem 0; }

.home header {
  background-image: url(../assets/home-image-1.jpg); }
  .home header h1 {
    color: #0C5F4C;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    letter-spacing: 9px; }
    .home header h1 span {
      display: block;
      font-family: 'Playfair Display SC', serif;
      font-size: 11.12rem;
      color: #063974;
      margin-left: -20px; }
  .home header .img-container {
    max-width: calc(1200px * .4);
    width: calc(40%);
    position: absolute;
    bottom: -12%;
    left: 0; }

.home .spotlight {
  padding: 15rem 0 10rem;
  background-color: #fff; }
  .home .spotlight .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
  .home .spotlight-content {
    width: calc(70%); }
    .home .spotlight-content h2,
    .home .spotlight-content p {
      margin-bottom: 2rem; }
  .home .spotlight .img-container {
    width: calc(25%); }
    .home .spotlight .img-container img {
      box-shadow: -15px 15px 0 #50E3C2; }

.home .gallery {
  background-color: #D2F9F1;
  padding: 10rem 0; }
  .home .gallery .flex-container {
    display: flex;
    justify-content: space-between; }
  .home .gallery .img-container {
    width: calc(100% / 3 - 2%); }

.home .features {
  background-color: #fff;
  padding: 10rem 0; }
  .home .features .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between; }
  .home .features .feature-container {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    width: calc(50% - 2rem);
    margin-bottom: 4rem; }
    .home .features .feature-container:nth-last-of-type(1), .home .features .feature-container:nth-last-of-type(2) {
      margin-bottom: 0; }
  .home .features .icon-container {
    background-color: #50E3C2;
    border-radius: 50%;
    margin-right: 1.5rem; }
    .home .features .icon-container i {
      color: #fff;
      padding: 10px; }
  .home .features .feature-content h3 {
    color: #0C5F4C;
    margin-bottom: 1rem; }

.home .blogs {
  background-color: #D2F9F1;
  padding: 10rem 0; }
  .home .blogs .flex-container {
    display: flex;
    flex-direction: column; }
  .home .blogs .blog-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .home .blogs .blog-container:nth-of-type(odd) {
      margin-bottom: 6rem; }
  .home .blogs .blog-container:nth-of-type(odd) img {
    box-shadow: 15px 15px 0 #50E3C2; }
  .home .blogs .blog-container:nth-of-type(even) {
    text-align: right; }
    .home .blogs .blog-container:nth-of-type(even) .img-container {
      order: 1; }
    .home .blogs .blog-container:nth-of-type(even) img {
      box-shadow: -15px 15px 0 #50E3C2; }
  .home .blogs .img-container {
    width: calc(40%); }
  .home .blogs .blog-post {
    width: calc(40%); }
    .home .blogs .blog-post h2,
    .home .blogs .blog-post p {
      margin-bottom: 2rem; }

.home .contest {
  background-color: #fff;
  padding-bottom: 15rem; }
  .home .contest .wrapper {
    padding-top: 15rem;
    text-align: center; }
  .home .contest h2,
  .home .contest p {
    margin-bottom: 2rem; }

.blog header {
  background-image: url(../assets/blog-image-1.jpg);
  min-height: 60vh; }
  .blog header h1 {
    color: #FAFFFE;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    font-size: 6rem;
    letter-spacing: 9px; }

.blog main {
  padding: 10rem 0; }
  .blog main > .flex-container {
    display: flex;
    justify-content: space-between; }

.blog .blog-post {
  display: flex;
  flex-direction: column;
  width: calc(300 / 480 * 100%); }

.blog .blog-post-content {
  border: 5px solid #50E3C2;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem; }
  .blog .blog-post-content .img-container {
    margin-bottom: 3rem; }
  .blog .blog-post-content h3 {
    margin-bottom: 1rem; }
  .blog .blog-post-content .blog-content-date {
    color: #063974;
    font-size: 1.8rem; }
  .blog .blog-post-content p {
    margin-bottom: 2rem; }

.blog .blog-post-comments {
  display: flex;
  flex-direction: column; }

.blog .comment-container {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0; }
  .blog .comment-container .img-container {
    width: calc(25% - 2rem); }
  .blog .comment-container .comment-content {
    width: 75%; }

.blog form {
  display: flex;
  flex-direction: column; }
  .blog form fieldset {
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 0 2rem 0; }
    .blog form fieldset input {
      width: calc(50% - 2rem);
      border-color: transparent transparent #50E3C2 transparent;
      padding: 1rem; }
  .blog form textarea {
    resize: none;
    border-color: #50E3C2;
    margin-bottom: 3rem; }

.blog aside {
  width: calc(110 / 480 * 100%); }
  .blog aside > div,
  .blog aside.content > div {
    margin-bottom: 2rem; }
  .blog aside h4 {
    color: #0C5F4C;
    margin-bottom: 2rem; }
  .blog aside a {
    color: #063974; }
