html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 2rem; }

h1,
h2,
h3,
h4,
h5,
p,
img,
button,
ul,
li {
  margin: 0;
  padding: 0; }

img {
  width: 100%;
  display: block; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

h2 {
  color: #0C5F4C; }

p {
  line-height: 32px; }

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto; }

.wrapper-large {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.btn {
  display: inline-block;
  background-color: #063974;
  color: #FAFFFE;
  font-family: 'Playfair Display SC', serif;
  padding: 15px;
  border: 5px solid transparent;
  transition: border-color .3s; }
  .btn:hover, .btn:focus {
    border-color: #50E3C2; }

body {
  font-family: 'Lato', sans-serif; }

form {
  display: flex;
  flex-direction: column; }
  form fieldset {
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 0 2rem 0; }
    form fieldset input {
      width: calc(50% - 1rem);
      border-color: transparent transparent #50E3C2 transparent;
      padding: 2rem; }
  form input,
  form textarea {
    font-size: 1.6rem;
    letter-spacing: 1px; }
  form input:focus,
  form input:active {
    border-bottom-color: #063974;
    outline: none; }
  form textarea:focus,
  form textarea:active {
    border-color: #063974;
    outline: none; }
  form textarea {
    resize: none;
    border: 2px solid #50E3C2;
    margin-bottom: 3rem;
    padding: 2rem; }

header {
  height: 90vh;
  padding-top: 2rem;
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column; }
  header .wrapper {
    flex: 1;
    position: relative; }
  header .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase; }
    header .main-nav .logo {
      font-family: 'Playfair Display SC', serif;
      color: #50E3C2;
      font-size: 3.46rem;
      letter-spacing: 1px; }
    header .main-nav li {
      display: inline-block; }
      header .main-nav li:not(:last-child) {
        margin-right: 3rem; }
    header .main-nav a {
      color: #FAFFFE;
      letter-spacing: 1px;
      position: relative; }
      header .main-nav a:hover, header .main-nav a:focus {
        color: #50E3C2; }
        header .main-nav a:hover::after, header .main-nav a:focus::after {
          opacity: 1; }
      header .main-nav a::after {
        content: '';
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 100%;
        background-color: #50E3C2;
        opacity: 0;
        transition: opacity .3s ease; }
    header .main-nav .link-active {
      color: #50E3C2; }

footer {
  background-color: #2C2C2C;
  color: #FAFFFE;
  text-align: center;
  padding: 1rem; }
  footer a {
    color: #FAFFFE;
    text-decoration: underline;
    padding: 1rem 1rem 1rem 0; }

/* -------------------COLLAPSED NAV MENU */
.menu-button {
  display: none; }
  .menu-button:checked + .menu .menu-bar {
    background-color: transparent; }
    .menu-button:checked + .menu .menu-bar::before {
      transform: rotate(45deg);
      top: 0; }
    .menu-button:checked + .menu .menu-bar::after {
      transform: rotate(135deg);
      top: 0; }

.menu {
  padding: 1rem;
  display: none;
  position: relative;
  z-index: 100; }
  .menu:hover {
    cursor: pointer; }

/* ------------------- COLLAPSED NAV MENU - BARS */
.menu-bar {
  background-color: #50E3C2;
  display: inline-block;
  width: 40px;
  height: 3px;
  position: relative; }
  .menu-bar::before, .menu-bar::after {
    content: "";
    width: inherit;
    height: inherit;
    display: inline-block;
    position: absolute;
    background-color: #50E3C2; }
  .menu-bar::before {
    top: 1rem; }
  .menu-bar::after {
    top: -1rem; }

/* ---------------------- SKIP LINKS */
.skip-links {
  position: relative; }
  .skip-links a {
    position: absolute;
    top: -100%;
    left: -100%;
    transform: translateX(-50%);
    z-index: 100;
    color: #FAFFFE;
    background-color: #063974;
    padding: 2rem; }
    .skip-links a:focus {
      top: 0;
      left: 50%; }

@media (max-width: 800px) {
  header {
    /* ------COLLAPSED NAV MENU */ }
    header .menu-button,
    header .menu {
      display: block; }
    header .menu-button:focus + .menu {
      outline: 1px solid #063974; }
    header .menu-button:checked:focus + .menu {
      outline: 1px solid #201E21; }
    header .menu-button:checked + .menu {
      position: fixed;
      right: 10%;
      top: 2rem; }
    header .menu-button:checked ~ ul {
      padding: 50px 0;
      top: 0; }
    header .main-nav {
      align-items: flex-end; }
      header .main-nav ul {
        background-color: #063974;
        position: fixed;
        top: -100%;
        left: -0;
        width: 100%;
        z-index: 50;
        transition: top .2s ease;
        display: flex;
        flex-direction: column; }
      header .main-nav li {
        margin: 4rem 2rem;
        text-align: center; }
      header .main-nav a {
        color: #fff;
        padding: 1.5rem 20%;
        font-size: 2.2rem; }
        header .main-nav a:hover, header .main-nav a:focus {
          background-color: #fff;
          color: #063974; }
        header .main-nav a::after {
          display: none; } }

@media (max-width: 480px) {
  body {
    font-size: 1.6rem; }
  form fieldset {
    flex-direction: column; }
  form fieldset input {
    width: 100%; }
  footer {
    font-size: 1.4rem; } }

.home header {
  background-image: url(../assets/home-image-1.jpg); }
  .home header h1 {
    color: #0C5F4C;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    letter-spacing: 9px; }
    .home header h1 span {
      display: block;
      font-family: 'Playfair Display SC', serif;
      font-size: 11.12rem;
      color: #063974;
      margin-left: -20px; }
  .home header .img-container {
    max-width: calc(1200px * .4);
    width: calc(40%);
    position: absolute;
    bottom: -12%;
    left: 0; }

.home .spotlight {
  padding: 15rem 0 10rem;
  background-color: #fff; }
  .home .spotlight .flex-container {
    display: flex;
    justify-content: space-between; }
  .home .spotlight-content {
    width: calc(70%); }
    .home .spotlight-content h2,
    .home .spotlight-content p {
      margin-bottom: 2rem; }
  .home .spotlight .img-container {
    width: calc(25%); }
    .home .spotlight .img-container img {
      box-shadow: -15px 15px 0 #50E3C2; }

.home .gallery {
  background-color: #D2F9F1;
  padding: 10rem 0; }
  .home .gallery .flex-container {
    display: flex;
    justify-content: space-between; }
  .home .gallery .img-container {
    width: calc(100% / 3 - 2%); }

.home .features {
  background-color: #fff;
  padding: 10rem 0; }
  .home .features .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 4rem 2rem; }
  .home .features .feature-container {
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 5rem 1fr;
    gap: 1rem 2rem; }
  .home .features .icon-container i.fa-stack-2x {
    color: #50E3C2; }
  .home .features .icon-container i.fa-stack-1x {
    color: #fff; }
  .home .features .feature-content h3 {
    color: #0C5F4C;
    margin-bottom: 1rem; }

.home .blogs {
  background-color: #D2F9F1; }
  .home .blogs .grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 8rem; }
  .home .blogs .blog-container {
    display: grid;
    grid-template-columns: 1fr 10% 1fr;
    position: relative;
    z-index: 5; }
    .home .blogs .blog-container .blog-post h2,
    .home .blogs .blog-container .blog-post p {
      margin-bottom: 2rem; }
    .home .blogs .blog-container:nth-of-type(odd) .blog-post {
      grid-column-start: 3;
      align-self: flex-end;
      margin-left: -10%; }
    .home .blogs .blog-container:nth-of-type(odd) .img-container {
      margin-top: -20px; }
    .home .blogs .blog-container:nth-of-type(odd) img {
      box-shadow: 15px 15px 0 #50E3C2; }
    .home .blogs .blog-container:nth-of-type(even) .blog-post {
      align-self: flex-start;
      text-align: right;
      margin-right: -10%; }
    .home .blogs .blog-container:nth-of-type(even) .img-container {
      margin-bottom: -15px;
      order: 1;
      grid-column-start: 3; }
    .home .blogs .blog-container:nth-of-type(even) img {
      box-shadow: -15px 15px 0 #50E3C2; }

.home .contest {
  background-color: #fff;
  padding-bottom: 15rem; }
  .home .contest .wrapper {
    padding-top: 15rem;
    text-align: center; }
  .home .contest h2,
  .home .contest p {
    margin-bottom: 2rem; }

@media (max-width: 1024px) {
  .home .blogs {
    padding: 10rem 0; } }

@media (max-width: 800px) {
  .home header {
    min-height: 100vh; }
    .home header h1 {
      text-align: center;
      font-size: calc(1.5rem + 7vw); }
      .home header h1 span {
        font-size: calc(2rem + 8vw);
        margin-left: 0; }
    .home header .img-container {
      display: none; }
  .home .spotlight,
  .home .gallery,
  .home .features,
  .home .blogs {
    padding: 8rem 0; }
  .home .spotlight {
    padding: 8rem 0; }
    .home .spotlight .flex-container {
      flex-direction: column-reverse;
      align-items: center; }
    .home .spotlight .img-container {
      width: 50%;
      margin-bottom: 5rem; }
    .home .spotlight-content {
      width: 100%;
      text-align: center; }
  .home .contest {
    padding-bottom: 8rem; }
    .home .contest .wrapper {
      padding-top: 8rem; } }

@media (max-width: 768px) {
  .home .blogs .grid-container {
    grid-row-gap: 6rem; }
  .home .blogs .blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .home .blogs .blog-container:nth-of-type(odd) .img-container {
      margin: 0 auto calc(4rem + 15px);
      width: calc(70% - 15px); }
    .home .blogs .blog-container:nth-of-type(odd) .blog-post {
      margin-left: 0;
      text-align: center; }
    .home .blogs .blog-container:nth-of-type(even) .img-container {
      margin: 0 auto calc(4rem + 15px);
      width: calc(70% - 15px);
      order: 0; }
    .home .blogs .blog-container:nth-of-type(even) .blog-post {
      margin-right: 0;
      text-align: center; } }

@media (max-width: 480px) {
  .home header .main-nav .logo {
    font-size: 2.46rem; }
  .home header h1 {
    font-size: calc(1.5rem + 4vw); }
  .home header h1 span {
    font-size: calc(1.5rem + 5vw); }
  .home .gallery .flex-container {
    flex-direction: column;
    align-items: center; }
  .home .gallery .img-container {
    width: 80%; }
    .home .gallery .img-container:not(:last-of-type) {
      margin-bottom: 4rem; }
  .home .features .grid-container {
    grid-template-columns: 1fr; }
  .home .features .feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; } }

.blog header {
  background-image: url(../assets/blog-image-1.jpg);
  min-height: 60vh; }
  .blog header h1 {
    color: #FAFFFE;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 6rem;
    letter-spacing: 9px; }

.blog main {
  padding: 10rem 0; }
  .blog main > .flex-container {
    display: flex;
    justify-content: space-between; }

.blog .blog-post {
  display: flex;
  flex-direction: column;
  width: calc(300 / 480 * 100%);
  margin-top: -20rem;
  z-index: 20; }

.blog .blog-post-content {
  border: 5px solid #50E3C2;
  border-left: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem; }
  .blog .blog-post-content .img-container {
    margin: -15px 0 3rem; }
    .blog .blog-post-content .img-container img {
      width: calc(100% - 10px);
      box-shadow: 15px 15px #50E3C2; }
  .blog .blog-post-content h3 {
    margin-bottom: 1rem; }
  .blog .blog-post-content .blog-content-date {
    color: #063974;
    font-size: 1.8rem; }
  .blog .blog-post-content p {
    margin-bottom: 2rem; }

.blog .blog-post-comments {
  display: flex;
  flex-direction: column; }

.blog .comment-container {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0; }
  .blog .comment-container .img-container {
    width: calc(25% - 2rem); }
  .blog .comment-container .comment-content {
    width: 75%; }

.blog aside {
  width: calc(110 / 480 * 100%);
  font-size: 1.6rem; }
  .blog aside > div,
  .blog aside.content > div {
    margin-bottom: 2rem; }
  .blog aside h4 {
    color: #0C5F4C;
    margin: 2rem 0 1rem; }
  .blog aside p {
    line-height: 1.4; }
  .blog aside a {
    color: #063974; }
  .blog aside ul {
    list-style: none; }
    .blog aside ul li {
      margin-left: 2rem; }
    .blog aside ul li::before {
      content: "\2022";
      /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: #50E3C2;
      /* Change the color */
      font-weight: bold;
      /* If you want it to be bold */
      display: inline-block;
      /* Needed to add space between the bullet and the text */
      width: 1em;
      /* Also needed for space (tweak if needed) */
      margin-left: -1em;
      /* Also needed for space (tweak if needed) */ }
    .blog aside ul a {
      color: #2C2C2C; }
      .blog aside ul a:hover, .blog aside ul a:focus {
        color: #50E3C2; }

@media (max-width: 768px) {
  .blog main {
    padding-bottom: 2rem; }
  .blog main > .flex-container {
    flex-direction: column; }
  .blog .blog-post {
    width: 100%;
    margin: -20rem auto 6rem; }
  .blog-post-comments h3 {
    text-align: center; }
  .blog .comment-container .img-container {
    width: calc(30% - 2rem); }
  .blog .comment-container .comment-content {
    width: 70%; }
  .blog aside {
    width: 80%;
    margin: 0 auto; }
    .blog aside h4 {
      margin-bottom: .6rem; }
    .blog aside img {
      max-height: 250px;
      object-fit: cover; } }

@media (max-width: 480px) {
  .blog .comment-container {
    flex-direction: column;
    align-items: center; }
    .blog .comment-container .img-container {
      width: 50%;
      margin-bottom: 1.6rem; }
    .blog .comment-container .comment-content {
      width: 100%; }
      .blog .comment-container .comment-content h4 {
        margin-bottom: 1rem; } }

.contact header {
  background-image: url(../assets/contact-image-1.jpg);
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .contact header .wrapper {
    flex: 1;
    position: relative; }
  .contact header h1 {
    color: #FAFFFE;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 6rem;
    letter-spacing: 9px; }

.contact main {
  padding: 10rem 0; }
  .contact main .flex-container {
    display: flex;
    justify-content: space-between; }

.contact .contact-form {
  width: 70%;
  background-color: #fff;
  margin-top: -22rem;
  margin-left: -5rem;
  box-shadow: 15px 15px 0 #50E3C2;
  padding: 50px;
  z-index: 10; }
  .contact .contact-form input,
  .contact .contact-form textarea {
    font-size: 1.6rem; }

.contact aside {
  width: 25%;
  display: flex;
  flex-direction: column;
  letter-spacing: 2px; }
  .contact aside > *:not(:last-child) {
    margin-bottom: 2rem; }
  .contact aside .socials {
    display: flex; }
    .contact aside .socials li:not(:last-of-type) {
      margin-right: 15px; }
  .contact aside a {
    font-weight: bold;
    padding: 1.5rem 1.5rem 1.5rem 0; }
  .contact aside a:focus,
  .contact aside a:active,
  .contact aside a:hover {
    color: #50E3C2; }
  .contact aside .address {
    font-size: 1.4rem; }
    .contact aside .address li {
      list-style: none; }
    .contact aside .address li:not(:last-of-type) {
      margin-bottom: 10px; }

@media (max-width: 768px) {
  .contact main {
    padding: 10rem 0 6rem; }
  .contact main .flex-container {
    flex-direction: column; }
  .contact .contact-form {
    width: 100%;
    margin-left: 0rem; }
  .contact aside {
    width: 100%;
    align-items: center;
    margin-top: 6rem; } }

@media (max-width: 480px) {
  .contact h1 {
    font-size: 5rem;
    text-align: center;
    top: 40%; }
  .contact .contact-form {
    padding: 25px; } }
