html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

html {
  font-size: 62.5%; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
button,
ul,
li {
  margin: 0;
  padding: 0; }

img {
  width: 100%;
  display: block; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 2px; }

h1 {
  font-family: "Playfair Display SC", Georgia, serif;
  font-size: 11.12rem;
  line-height: 58px;
  font-style: italic; }

h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", Arial, sans-serif;
  font-weight: bold;
  line-height: 58px; }

h2 {
  font-size: 6.2rem;
  letter-spacing: 9px; }

h3 {
  font-size: 6.2rem;
  letter-spacing: 6.7px; }

h4,
h5 {
  font-size: 3.5rem;
  letter-spacing: 3.8px; }

h6 {
  font-size: 3rem;
  letter-spacing: 3.2px; }

@media (max-width: 1024px) {
  body {
    letter-spacing: 1px; } }

@media (max-width: 480px) {
  body {
    font-size: 1.5rem;
    letter-spacing: .4px; } }

.btn {
  display: inline-block;
  padding: 15px;
  color: #FAFFFE;
  font-family: "Playfair Display SC", Georgia, serif;
  font-style: italic;
  text-transform: uppercase;
  background-color: #063974;
  border: 5px solid transparent;
  transition: border-color .3s; }
  .btn:hover, .btn:active, .btn:focus {
    border-color: #50E3C2; }

form {
  display: flex;
  flex-direction: column;
  font-weight: 100; }
  form fieldset {
    border: none;
    padding: 0;
    margin: 0 0 2rem 0; }
    form fieldset .container {
      display: flex;
      justify-content: space-between; }
    form fieldset input {
      width: calc(50% - 1rem);
      border-color: transparent transparent #50E3C2 transparent;
      padding: 2rem; }
  form input,
  form textarea {
    font-family: "Lato", Arial, sans-serif;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 2px; }
  form input:focus,
  form input:active {
    border-bottom-color: #063974;
    outline: none; }
  form textarea:focus,
  form textarea:active {
    border-color: #063974;
    outline: none; }
  form textarea {
    resize: none;
    border: 2px solid #50E3C2;
    margin-bottom: 3rem;
    padding: 2rem; }

@media (max-width: 480px) {
  form fieldset .container {
    flex-direction: column; }
  form fieldset input {
    width: 100%; } }

.menu-checkbox {
  display: none; }
  .menu-checkbox:checked + .menu-icon .menu-bars {
    background-color: transparent; }
    .menu-checkbox:checked + .menu-icon .menu-bars::before {
      transform: rotate(45deg);
      top: 0; }
    .menu-checkbox:checked + .menu-icon .menu-bars::after {
      transform: rotate(135deg);
      top: 0; }

.menu-icon {
  padding: 1rem;
  display: none;
  position: relative;
  z-index: 100; }
  .menu-icon:hover {
    cursor: pointer; }
    .menu-icon:hover ::before,
    .menu-icon:hover ::after {
      transition: top .2s, transform .2s; }
    .menu-icon:hover ::before {
      top: 1.4rem; }
    .menu-icon:hover ::after {
      top: -1.4rem; }

/* ------------------- COLLAPSED NAV MENU - BARS */
.menu-bars {
  background-color: #FAFFFE;
  display: inline-block;
  width: 40px;
  height: 3px;
  position: relative; }
  .menu-bars::before, .menu-bars::after {
    content: "";
    width: inherit;
    height: inherit;
    display: inline-block;
    position: absolute;
    background-color: #FAFFFE; }
  .menu-bars::before {
    top: 1rem; }
  .menu-bars::after {
    top: -1rem; }

.skip-links {
  position: relative; }
  .skip-links a {
    position: absolute;
    top: -100%;
    left: -100%;
    transform: translateX(-50%);
    z-index: 100;
    color: #FAFFFE;
    background-color: #063974;
    padding: 2rem; }
    .skip-links a:focus {
      top: 0;
      left: 50%; }

header {
  padding-top: 2rem;
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column; }
  header .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase; }
    header .main-nav .logo {
      font-family: "Playfair Display SC", Georgia, serif;
      font-style: italic;
      color: #50E3C2;
      font-size: 3.46rem;
      letter-spacing: 1px; }
    header .main-nav li {
      display: inline-block; }
      header .main-nav li:not(:last-child) {
        margin-right: 3rem; }
    header .main-nav .link-active {
      color: #50E3C2; }
    header .main-nav a {
      color: #FAFFFE;
      letter-spacing: 1px;
      position: relative; }
      header .main-nav a::after {
        content: '';
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 100%;
        background-color: #50E3C2;
        opacity: 0;
        transition: opacity .3s ease; }
      header .main-nav a:hover, header .main-nav a:focus {
        color: #50E3C2; }
        header .main-nav a:hover::after, header .main-nav a:focus::after {
          opacity: 1; }

@media (max-width: 800px) {
  header {
    /* ------COLLAPSED NAV MENU */ }
    header .menu-checkbox,
    header .menu-icon {
      display: block; }
    header .menu-checkbox:focus + .menu-icon,
    header .menu-checkbox:checked:focus + .menu-icon {
      outline: 1px solid #063974; }
    header .menu-checkbox:checked + .menu-icon {
      position: fixed;
      right: 10%;
      top: 2rem; }
    header .menu-checkbox:checked ~ ul {
      padding: 50px 0;
      top: 0; }
    header .main-nav .logo {
      font-size: calc(1.6rem + 2vw);
      padding-top: 2rem; }
    header .main-nav ul {
      background-color: #063974;
      position: fixed;
      top: -150%;
      left: -0;
      width: 100%;
      z-index: 50;
      transition: top .3s;
      display: flex;
      flex-direction: column; }
    header .main-nav li {
      margin: 4rem 2rem;
      text-align: center; }
    header .main-nav a {
      color: #FAFFFE;
      padding: 1.5rem 20%;
      font-size: 2.2rem; }
      header .main-nav a:hover, header .main-nav a:focus {
        background-color: #FAFFFE;
        color: #063974; }
      header .main-nav a::after {
        display: none; } }

footer {
  background-color: #2C2C2C;
  color: #FAFFFE;
  text-align: center;
  padding: 1rem; }
  footer a {
    color: #FAFFFE;
    text-decoration: underline;
    padding: 1rem 1rem 1rem 0; }

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto; }

.wrapper-large {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.home header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.5)), url(../assets/home-image-1.jpg);
  height: 65vh; }
  .home header .wrapper-large {
    flex: 1;
    position: relative; }
  .home header .heading-text {
    position: absolute;
    z-index: 10;
    top: 40%;
    left: 55%;
    transform: translateX(-50%); }
  .home header h1 {
    color: #063974;
    margin-left: -20px; }
  .home header h3 {
    color: #0C5F4C; }
  .home header .img-container {
    max-width: calc(1200px * .4);
    width: 55vh;
    position: absolute;
    bottom: -12%;
    left: 0; }

.home .spotlight {
  padding: 15rem 0 10rem;
  background-color: #FAFFFE; }
  .home .spotlight .flex-container {
    display: flex;
    justify-content: space-between; }
  .home .spotlight-content {
    width: calc(70%); }
    .home .spotlight-content h4 {
      color: #0C5F4C;
      margin-bottom: 0.5rem; }
    .home .spotlight-content p {
      margin-bottom: 2rem; }
  .home .spotlight .img-container {
    width: calc(25%); }
    .home .spotlight .img-container img {
      box-shadow: -15px 15px 0 #50E3C2; }

.home .gallery {
  background-color: #D2F9F1;
  padding: 10rem 0; }
  .home .gallery .flex-container {
    display: flex;
    justify-content: space-between; }
  .home .gallery .img-container {
    width: calc(100% / 3 - 2%); }

.home .features {
  background-color: #FAFFFE;
  padding: 10rem 0; }
  .home .features .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 4rem 2rem; }
  .home .features .feature-container {
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 5rem 1fr;
    gap: 1rem 2rem; }
  .home .features .icon-container {
    margin: 1rem 0; }
    .home .features .icon-container i.fa-stack-2x {
      color: #50E3C2; }
    .home .features .icon-container i.fa-stack-1x {
      color: #FAFFFE; }
  .home .features .feature-content h6 {
    color: #0C5F4C;
    margin-bottom: 1rem; }

.home .blogs {
  background-color: #D2F9F1; }
  .home .blogs .grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 8rem; }
  .home .blogs .blog-container {
    display: grid;
    grid-template-columns: 1fr 10% 1fr;
    position: relative;
    z-index: 5; }
    .home .blogs .blog-container .blog-post p {
      margin-bottom: 2rem; }
    .home .blogs .blog-container .blog-post h5 {
      color: #0C5F4C;
      margin-bottom: .5rem; }
    .home .blogs .blog-container:nth-of-type(odd) .blog-post {
      grid-column-start: 3;
      align-self: flex-end;
      margin-left: -10%; }
    .home .blogs .blog-container:nth-of-type(odd) .img-container {
      margin-top: -20px; }
    .home .blogs .blog-container:nth-of-type(odd) img {
      box-shadow: 15px 15px 0 #50E3C2; }
    .home .blogs .blog-container:nth-of-type(even) .blog-post {
      align-self: flex-start;
      text-align: right;
      margin-right: -10%; }
    .home .blogs .blog-container:nth-of-type(even) .img-container {
      margin-bottom: -15px;
      order: 1;
      grid-column-start: 3; }
    .home .blogs .blog-container:nth-of-type(even) img {
      box-shadow: -15px 15px 0 #50E3C2; }

.home .contest {
  background-color: #FAFFFE;
  padding-bottom: 15rem; }
  .home .contest img {
    min-height: 200px;
    object-fit: cover; }
  .home .contest .wrapper {
    padding-top: 15rem;
    text-align: center; }
  .home .contest p {
    margin-bottom: 2rem; }
  .home .contest h5 {
    color: #0C5F4C;
    margin-bottom: 0.5rem; }

@media (max-width: 1024px) {
  .home .blogs {
    padding: 10rem 0; } }

@media (max-width: 800px) {
  .home header h1 {
    font-size: calc(2rem + 8vw);
    margin-left: 0; }
  .home header h3 {
    font-size: calc(1.5rem + 7vw);
    text-align: center;
    left: 50%; }
  .home header .img-container {
    display: none; }
  .home .spotlight,
  .home .gallery,
  .home .features,
  .home .blogs {
    padding: 8rem 0; }
  .home .spotlight .flex-container {
    flex-direction: column-reverse;
    align-items: center; }
  .home .spotlight .img-container {
    width: 50%;
    margin-bottom: 5rem; }
  .home .spotlight .spotlight-content {
    width: 100%;
    text-align: center; }
  .home .contest {
    padding-bottom: 8rem; }
    .home .contest .wrapper {
      padding-top: 8rem; } }

@media (max-width: 768px) {
  .home .blogs .grid-container {
    grid-row-gap: 6rem; }
  .home .blogs .blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .home .blogs .blog-container:nth-of-type(1n) .img-container {
      margin: 0 auto calc(4rem + 15px);
      width: calc(70% - 15px); }
    .home .blogs .blog-container:nth-of-type(1n) .blog-post {
      text-align: center; }
    .home .blogs .blog-container:nth-of-type(odd) .blog-post {
      margin-left: 0; }
    .home .blogs .blog-container:nth-of-type(even) .img-container {
      order: 0; }
    .home .blogs .blog-container:nth-of-type(even) .blog-post {
      margin-right: 0; } }

@media (max-width: 480px) {
  .home header .main-nav .logo {
    font-size: 2.46rem; }
  .home header h1 {
    font-size: calc(1.5rem + 4vw); }
  .home header h3 {
    font-size: calc(1.5rem + 5vw); }
  .home .gallery .flex-container {
    flex-direction: column;
    align-items: center; }
  .home .gallery .img-container {
    width: 80%; }
    .home .gallery .img-container:not(:last-of-type) {
      margin-bottom: 4rem; }
  .home .features .grid-container {
    grid-template-columns: 1fr; }
  .home .features .feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; } }

.blog header {
  background-image: url(../assets/blog-image-1.jpg);
  height: 60vh; }
  .blog header .wrapper-large {
    flex: 1; }
  .blog header .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .blog header h2 {
    color: #FAFFFE;
    margin-bottom: 15rem; }

.blog main {
  padding: 10rem 0; }
  .blog main > .flex-container {
    display: flex;
    justify-content: space-between; }

.blog .blog-post {
  display: flex;
  flex-direction: column;
  width: calc(300 / 480 * 100%);
  margin-top: -20rem;
  z-index: 20; }

.blog .blog-post-content {
  border: 5px solid #50E3C2;
  border-left: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem; }
  .blog .blog-post-content .img-container {
    margin: -15px 0 3rem; }
    .blog .blog-post-content .img-container img {
      width: calc(100% - 10px);
      box-shadow: 15px 15px #50E3C2; }
  .blog .blog-post-content h3 {
    color: #0C5F4C;
    font-size: 3rem;
    letter-spacing: 3px; }
  .blog .blog-post-content .blog-content-date {
    color: #063974;
    font-size: 1.6rem;
    letter-spacing: .2px; }
  .blog .blog-post-content p {
    margin-bottom: 2rem; }

.blog .blog-post-comments {
  display: flex;
  flex-direction: column; }
  .blog .blog-post-comments h4 {
    font-size: 3rem;
    letter-spacing: 2px; }

.blog .comment-container {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0; }
  .blog .comment-container h5 {
    color: #063974;
    letter-spacing: 2px;
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 1.4; }
  .blog .comment-container .img-container {
    width: calc(25% - 3.5rem); }
  .blog .comment-container .comment-content {
    width: 75%; }

.blog aside {
  width: calc(110 / 480 * 100%);
  font-size: 1.6rem; }
  .blog aside h6 {
    color: #063974;
    font-size: 2.2rem; }
  .blog aside p {
    line-height: 1.4; }
  .blog aside .aside-mission a {
    color: #0C5F4C;
    font-weight: bold; }
  .blog aside a:hover,
  .blog aside a:focus {
    color: #50E3C2; }
  .blog aside ul {
    list-style: none; }
    .blog aside ul li {
      margin-left: .8rem; }
    .blog aside ul li::before {
      content: "\2022";
      color: #50E3C2;
      display: inline-block;
      width: 1em; }
    .blog aside ul a {
      color: #2C2C2C; }

@media (min-width: 1200px) {
  .blog .blog-post-content {
    border-left: 5px solid #50E3C2; } }

@media (max-width: 768px) {
  .blog main {
    padding-bottom: 4rem; }
    .blog main > .flex-container {
      flex-direction: column; }
  .blog .blog-post {
    width: 100%;
    margin: -20rem auto 6rem; }
  .blog .comment-container .img-container {
    width: calc(30% - 2rem); }
  .blog .comment-container .comment-content {
    width: 70%; }
  .blog aside {
    width: 80%;
    margin: 0 auto; }
    .blog aside h6 {
      margin-bottom: .6rem; }
    .blog aside img {
      max-height: 250px;
      object-fit: cover; } }

@media (max-width: 480px) {
  .blog .blog-post-content h3 {
    font-size: 2.5rem;
    line-height: 1.2; }
  .blog .blog-post-comments h4 {
    text-align: center; }
  .blog .comment-container {
    flex-direction: column;
    align-items: center; }
    .blog .comment-container .img-container {
      width: 50%;
      margin-bottom: 1.6rem; }
    .blog .comment-container .comment-content {
      width: 100%; }
      .blog .comment-container .comment-content h5 {
        margin-bottom: 1rem; } }

.contact header {
  background-image: url(../assets/contact-image-1.jpg);
  height: 50vh; }
  .contact header .wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .contact header h2 {
    color: #FAFFFE;
    margin-bottom: 15rem; }

.contact main {
  padding: 10rem 0; }
  .contact main .flex-container {
    display: flex;
    justify-content: space-between; }

.contact .contact-form {
  width: 70%;
  background-color: #FAFFFE;
  margin-top: -22rem;
  margin-left: -5rem;
  box-shadow: 15px 15px 0 #50E3C2;
  padding: 50px;
  z-index: 10; }

.contact aside {
  width: 25%;
  display: flex;
  flex-direction: column; }
  .contact aside .socials {
    display: flex; }
  .contact aside a {
    font-weight: bold;
    padding: 1.5rem 1.5rem 1.5rem 0; }
  .contact aside a:focus,
  .contact aside a:active,
  .contact aside a:hover {
    color: #50E3C2; }
  .contact aside address {
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.2; }
    .contact aside address li {
      list-style: none; }
    .contact aside address li:not(:last-of-type) {
      margin-bottom: 5px; }

@media (max-width: 768px) {
  .contact main {
    padding: 10rem 0 6rem; }
    .contact main .flex-container {
      flex-direction: column; }
  .contact .contact-form {
    width: 100%;
    margin-left: 0rem; }
  .contact aside {
    width: 100%;
    font-size: 2rem;
    align-items: center;
    margin-top: 6rem; }
    .contact aside a {
      padding: 1.5rem; }
    .contact aside address {
      font-size: inherit;
      text-align: center; }
      .contact aside address a {
        padding: inherit; } }

@media (max-width: 480px) {
  .contact .contact-form {
    padding: 25px; } }
